/*CSS Document*/

.hidden
{
	display: none;
}

a
{
	color: white;
	font-size: 1.063em;
	font-family: 'Lato', sans-serif;
}

a:hover
{
	color: #fff;
}

body
{
	overflow-x: hidden;
	background: url('../img/background.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

h2
{
	font-size: 2.5em;
	color: white;
	font-family: 'Lato', sans-serif;
}

header
{
	display: none;
	background-color: #0012ff;
}

label
{
	color: white;
}

li
{
	list-style-type: none;
}

li a
{
	color: white;
	font-size: 1.125em;
	text-align: center;
}

p
{
	color: white;
	font-size: 1.375em;
	line-height: 1.675em;
	font-family: 'Lato Light', sans-serif;
}

ul
{
	margin-bottom: 0em;
}

video
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/* /// HOME PAGE TEXT ANIMATION /// */
/* /// https://codepen.io/jmelgoza/pen/jEaGYg /// */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/* /// END OF HOMEPAGE ANIMATION /// */

#container
{
	margin-left: 7.5%;
	margin-right: 7.5%;
	width: 85%;
}

#containerSpace
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	transition: .3s ease;
	padding-top: 2em;
}

.copyright
{
	font-size: 1em;
}

.dropdown:hover
{
	cursor: pointer;
}

#homeArticle
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	transition: .3s ease;
}

.row
{
	max-width: 100%;
}

.top-bar
{
	background-color: #0042ff;
}

.title-bar
{
	background-color: #0042ff;
}

#socNavLeft
{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

#socNavRight
{
	float: right;
	margin-top: 10px;
}

#socNavRight ul li
{
	display: inline;
	margin-right: 5px;
}

#socialMedia
{
	width: 100%;
	background-color: #212121;
	height: 50px;
}

.spacerSmall
{
	height: .625em;
}

.spacerMedium
{
	height: 1em;
}

.spacerLarge
{
	height: 1.5em;
}

.spacerXL
{
	height: 2.5em;
}

#spacerVideo
{
	height: 1em;
	transition: .3s ease;
}

.underline
{
	text-decoration: underline;
}

#vidContainer
{
	width: 100%;
}

.workHeader
{
	font-size: 1em;
	text-align: center;
	text-decoration: underline;
}

@media screen and (min-width: 64em)
{
	h2
	{
		font-size: 3.75em;
	}

	header
	{
		display: block;
	}

	p
	{
		font-size: 1.75em;
	}

	#containerSpace
	{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		transition: .3s ease;
		padding-top: 6em;
	}

	#homeArticle
	{
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		transition: .3s ease;
	}

	#mainMenu ul li
	{
		border-bottom: 1px solid #0042ff;
		border-radius: 3px 3px 0 0;
	}

	#mainMenu ul li:hover
	{
		background-color: #0034c9;
		transition: .125s;
	}

	#mainMenu ul li:first-child
	{
		border-top: 1px solid #0042ff;
	}

	#spacerVideo
	{
		height: 1.5em;
		transition: .3s ease;
	}
}

@media screen and (min-width: 72em)
{
	h2
	{
		font-size: 4.5em;
	}

	p
	{
		font-size: 2em;
	}

	#containerSpace
	{
		padding-top: 8em;
	}

	#spacerVideo
	{
		height: 1em;
		transition: .3s ease;
	}
}
