<header>
    <div id="socialMedia">
    <div class="row">
      <div id="socNavLeft">
        <a href="index.php"><img src="img/gr-logo-white-small.png" alt="GR LOGO"></a>
      </div>
    </div>
  </div>
  </header>
  <div class="title-bar" data-responsive-toggle="mainMenu" data-hide-for="large">
    <button class="menu-icon small-1 medium-1 columns" type="button" data-toggle="mainMenu"></button>
    </div>
    <div class="row" id="mainMenu">
      <div class="top-bar">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="small-12 large-2 columns"><a href="index.php">HOME</a></li>
          <li class="small-12 large-2 columns"><a href="work.php">RECENT</a></li>
          <li class="small-12 large-2 columns"><a href="work.php?filter=graphic">GRAPHIC</a></li>
          <li class="small-12 large-2 columns"><a href="work.php?filter=web">WEB</a></li>
          <li class="small-12 large-2 columns"><a href="work.php?filter=motion">MOTION</a></li>
          <li class="small-12 large-2 columns"><a href="contact.php">CONTACT</a></li>
        </ul>
      </div>
    </div>